*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    background-color: rgb(223, 147, 113);
    min-height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 75px;
    font-size: 25px;
}
input{
    padding: 10px 20px;
}
#box{
    background-color: rgb(252, 105, 52);
    width: 200px;
    height: 100px;
    border: 1px solid black;
}
.bg-red{
    background-color: red;
    color: white;
}
.bg-yellow{
    background-color: yellow;
}